/* selectores css */
/* selector universal*/
/* *{
    background-color:white;
} */
/*selector de elemento*/
h1 {
    color: blue
}
h2 {
    color: gray
}
/*selector multiple*/

h3 {
    color: brown
}
h6, h5 {
    color: black
}
/*selector de hijo*/
ol li ul {
    color: rgb(247, 177, 0)
}
/* selector de clase */
.title {color: cadetblue;}
/* selector por id*/
#color { 
    color: green
}
/*pseudoselectores*/
/* Pseudo elements*/
ul {
    list-style: none;
}
ol li::before {
    color: green;
}
/*pseudo clase/*
